<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/addProduct.js"></script>
    <title>Document</title>
</head>

<body>
    <h3>Thêm sản phẩm</h3>
    <form action="" name="f1">
        <table>
            <tr>
                <td>Nhập tên sản phẩm:</td>
                <td><input type="text" name="" id="productName"></td>
            </tr>
            <tr>
                <td>Hãng sản xuất:</td>
                <td><input type="text" id="brand"></td>
                <!--<td>
                    <input name="brand" type="radio" value="Nokia" />Nokia
                    <input name="brand" type="radio" value="Samsung" />Samsung
                    <input name="brand" type="radio" value="Apple" />Apple
                    <input name="brand" type="radio" value="Apple" />Vivo
                </td>-->
            </tr>
            <tr>
                <td>Mô tả:</td>
                <td><input type="text" id="decription"></td>
            </tr>
            <tr>
                <td>Link hình ảnh:</td>
                <td><input type="text" id="imageUrl"></td>
            </tr>
            <tr>
                <td>Giá: </td>
                <td><input type="text" id="price"></td>
            </tr>
            <tr>
                <td><input type="button" value="Xác nhận" onclick="ThemSP()"></td>
            </tr>
        </table>
    </form>
</body>

</html>