<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/orderProduct.js"></script>
    <title>Document</title>
</head>

<body>
    <h3>Đặt mua sản phẩm</h3>
    <form action="" name="f1">
        <table>
            <tr>
                <td>Sản phẩm:</td>
                <td><input type="text" name="" id="productName"></td>
            </tr>
            <tr>
                <td>Tên khách hàng:</td>
                <td><input type="text" id="customerName"></td>
            </tr>
            <tr>
                <td>Địa chỉ khách hàng:</td>
                <td><input type="text" id="customerAddress"></td> 
            </tr>
            <tr>
                <td>Số điện thoại khách hàng:</td>
                <td><input type="text" id="phoneNumber"></td>
            </tr>
            <tr>
                <td>Giá: </td> 
                <td><h4 id="price"></h4></td> 
            </tr>
            <tr>
                <td><input type="button" value="Xác nhận" onclick="Order()"></td>
            </tr>
        </table>
    </form>
</body>

</html>